# Exercise 4.7 Deriving New Variables

### This script contains:

### 1. Define function example

### 2. If - statement with user-defined function practice

### 3. If - statement with loc ( ) function

### 4. If - statement with for - loops

### Task 2. Update "busiest day" column to "busiest days" to identify order day of the week as "Busiest days," "Slowest days," or "Regularly busy."

### Task 3. Check the value of this new column for accuracy.

### Task 4. Create a new column containing these labels called “busiest_period_of_day.”

### Task 5. Print the frequency for this new column

### Task 7. Export the data

In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os

### 1. Define Function

In [5]:
# Define function

def add_num (x,y):
    sum = x + y
    return sum

In [6]:
# Run function

add_num (9,11)

20

### 2. If- statement with user-defined function practice

In [10]:
# Import datasets

path = r'/Users/queency_yustiawan/Study/CF/data analyst course/immersion/A4 exercise/Instacart Basket Analysis'

df_ords_prods_merge = pd.read_pickle (os.path.join (path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [11]:
# Checking data output

df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,order_interval_days,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [13]:
# Create a subset for dataframe

df = df_ords_prods_merge [:1000000]

In [15]:
df.shape

(1000000, 14)

In [17]:
# Define a function

def price_label (row):

    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High range'
    else: return 'Not enough data'

In [18]:
# Apply the function

df['price_range'] = df.apply(price_label, axis = 1)

/var/folders/8k/dxgtncgd49g2ryx410bsc12r0000gn/T/ipykernel_3897/4221219494.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

In [19]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,order_interval_days,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product

In [21]:
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [22]:
# checking max price

df['prices'].max()

14.8

### 3. If - statement with loc ( ) function

In [24]:
# Trying the loc ( ) function for df dataset

df.loc [df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [26]:
df.loc [(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [25]:
df.loc [df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [27]:
df['price_range'].value_counts (dropna = False)

price_range
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [31]:
# applying the loc ( ) statement to df_ords_prods_merge

df_ords_prods_merge.loc [df_ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [38]:
df_ords_prods_merge.loc [(df_ords_prods_merge['prices'] <= 15) & (df_ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [33]:
df_ords_prods_merge.loc [df_ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [39]:
df_ords_prods_merge['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

### 4. If - statement with for - loops

In [40]:
# for loops example

for x in range (30,45):
    print ('My age is %d' % (x))

My age is 30
My age is 31
My age is 32
My age is 33
My age is 34
My age is 35
My age is 36
My age is 37
My age is 38
My age is 39
My age is 40
My age is 41
My age is 42
My age is 43
My age is 44

In [41]:
# Find frequecny of order per day

df_ords_prods_merge ['orders_day_of_week'].value_counts ()

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [42]:
# For loop function

result = []

for value in df_ords_prods_merge ['orders_day_of_week']:
    if value == 0:
        result.append ("Busiest day")
    elif value == 4:
        result.append ("Least busy")
    else:
        result.append ('Regularly busy')

In [43]:
# Creating new column in the dataframe to put result in

df_ords_prods_merge ['busiest_day'] = result

In [44]:
df_ords_prods_merge['busiest_day'].value_counts (dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

In [45]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,order_interval_days,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy

### Task 2. Update "busiest day" column to "busiest days" to identify order day of the week as "Busiest days," "Slowest days," or "Regularly busy."

In [47]:
# Create new loop function

result_2 = []

for value in df_ords_prods_merge ['orders_day_of_week']:
    if (value == 0) or (value == 1):
        result_2.append ('Busiest days')
    elif (value == 4) or (value == 3):
        result_2.append ('Slowest days')
    else: result_2.append ('Regularly busy')

In [51]:
# Create new column for the result_2

df_ords_prods_merge['busiest_days'] = result_2

In [60]:
# Check output

df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,order_interval_days,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days

### Task 3. Check the value of this new column for accuracy.

In [61]:
# Checking frequency of the "busiest_ days"

df_ords_prods_merge['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy    12916111
Busiest days      11864412
Slowest days       7624336
Name: count, dtype: int64

#### The sum of all category in value counts match with that of  the total value counts of "days_of_the_week". The value of 'busiest day' is also match with the sum of day 0 and day 1, the value of 'slowest day' also match with the sum of value count of day 4 and 3, and the sum of the rest match with the value of 'regularly busy'.

### Task 4. Create a new column containing these labels called “busiest_period_of_day.”

In [62]:
# Checking frequency of order per hour

df_ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

#### Based on above result, we will categorise the orders based on:
#### "Most orders" = 10, 11, 14, 15, 13, 12, 16, 9
#### "Fewest orders" = 3, 4, 2, 5, 1, 0 , 6, 23
#### "Average orders" = for the rest of the hour

In [63]:
# Create a new for-loop function

result_3 = []

for value in df_ords_prods_merge ['order_hour_of_day']:
    if value in [10, 11, 14, 15, 12, 16, 9]:
        result_3.append ('Most orders')
    elif value in [3, 4, 2, 5, 1, 0, 6, 23]:
        result_3.append ('Fewest orders')
    else: result_3.append ('Average orders')

In [64]:
# Creating new column of "busiest_period_of_day" for result_3

df_ords_prods_merge['busiest_period_of_day'] = result_3

In [65]:
# Check output

df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,order_interval_days,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

### Task 5. Print the frequency for this new column

In [66]:
# Checking frequency of the new column

df_ords_prods_merge['busiest_period_of_day'].value_counts (dropna = False)

busiest_period_of_day
Most orders       18457117
Average orders    12658605
Fewest orders      1289137
Name: count, dtype: int64

### Task 7. Export the data

In [67]:
# Exporting data

df_ords_prods_merge.to_pickle (os.path.join (path, '02 Data', 'Prepared Data', 'orders_products_merge_derived.pkl'))